/client-parcel/.cache
/client-parcel/node_modules
/client-parcel/dist

/server/_build
/server/.elixir_ls
/server/deps
/server/priv/static/
/server/_build/
/server/cover/
/server/doc/
/server/.fetch
/server/assets/node_modules/

.DS_Store
erl_crash.dump
*.ez
phx_channel-*.tar
npm-debug.log